:root {
  --white: #ecf0f1;
  --black: #2f3640;
  --red: #e74c3c;
  --blue: #3a99d8;
  --darkblue: #256c9b;
  --yellow: #fdef52;
  --grey: #343436;
  --navy: #34495e;
  --purple: #8e44ad;
  --green: #16a085;
  --orange: #e67e22;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@font-face {
  font-family: "DungGeunMo";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "LeeSeoyun";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/LeeSeoyun.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
html {
  height: 100%;
}
body {
  height: 100%;
  font-family: "DungGeunMo";
  display: flex;
  flex-direction: column;
  touch-action: pan-y;
}
button {
  border: 0;
  font-family: "DungGeunMo";
  cursor: pointer;
  background-color: var(--blue);
  color: var(--white);
  font-size: 1.325rem;
  transition: all 0.5s;
}
button:hover {
  background-color: var(--darkblue);
}
a {
  text-decoration: none;
}
.overflow {
  overflow: hidden;
}
header {
  height: min(60px, 6vh);
  background-color: var(--grey);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  line-height: 1.5;
  color: var(--white);
}
.container {
  margin: 0 auto;
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.container .list-box {
  border-bottom: 1px dashed rgba(0, 0, 0, 0.5);
  background-color: var(--yellow);
  display: flex;
}
.container .list-box > ul {
  margin: 0 auto;
  padding: 0.8vh 4vw;
  display: flex;
  gap: 0 2.5vw;
}
.container ul li {
  font-size: 1.2rem;
  text-align: center;
}
.container .list-box .list {
  color: #343436;
  text-decoration: none;
}
.container .list.on {
  color: var(--darkblue);
}
.lecture-area {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  flex: 1;
}
.lecture-area > .lecture {
  display: none;
  width: 100%;
  margin: 0 auto;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.lecture-area .sub-lecture-inner {
  width: 100%;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}
.lecture-area .sub-lecture {
  width: min(84%, 640px);
  height: 480px;
  box-shadow: 0 3px 10px 3px rgba(0, 0, 0, 0.35);
  display: flex;
  justify-content: center;
  align-items: center;
}
.lecture-area .sub-lecture .sub {
  display: none;
  width: 100%;
}
.lecture-area .sub-lecture .sub.in,
.sub.sub2.on {
  display: flex;
}
.lecture-area > .lecture > ul {
  display: flex;
  flex-direction: column;
  background: var(--blue);
  height: 100%;
}
.lecture-area > .lecture .subList {
  font-size: 1.325rem;
  padding: 16px 1vw;
  color: var(--white);
  display: flex;
  transition: all 0.3s;
  cursor: pointer;
  justify-content: Center;
}
.lecture-area > .lecture .subList:hover,
.lecture-area > .lecture .subList.active {
  background-color: var(--navy);
  color: var(--white);
}
/*#sub_lec_1*/
#sub_lec_1 {
  flex-direction: column;
  align-items: center;
  margin-top: -2vh;
}
#sub_lec_1 h1 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}
#sub_lec_1 form {
  display: flex;
  flex-direction: column;
  row-gap: 1.4rem;
  width: min(80%, 400px);
}
#sub_lec_1 input {
  text-align: center;
  height: 5vh;
}
#sub_lec_1 button {
  width: 100%;
  height: 5vh;
  font-size: 1.2rem;
}
#sub_lec_1 .result {
  color: var(--red);
  font-weight: bold;
  padding: 0 10px;
  text-align: center;
  margin-top: 2vh;
}
/*#sub_lec_2*/
#sub_lec_2 {
  flex-direction: column;
  font-size: 3.6rem;
  align-items: center;
  margin-top: -2vh;
  width: auto;
}
#sub_lec_2 .timer {
  display: flex;
  font-size: 3.2rem;
}
#sub_lec_2 .divider {
  margin: 0 10px;
}
#sub_lec_2 h1 {
  font-size: 2rem;
  margin-bottom: 2vh;
}
#sub_lec_2 h1 span {
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 0 10px;
}
#sub_lec_2 .container {
  margin-top: 50px;
}
#sub_lec_2 .container .buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}
#sub_lec_2 .container .buttons button {
  padding: 5px 10px;
  font-size: 1.2rem;
  width: 30%;
  border-radius: 10px;
  line-height: 1.5;
}
/*#sub_lec_3*/
#sub_lec_3 {
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
}
#sub_lec_3 .slider {
  width: min(80%, 450px);
  position: absolute;
}
#sub_lec_3 .slider .item {
  display: none;
}
#sub_lec_3 .slider .item.show {
  display: block;
}
#sub_lec_3 .slider img {
  width: 100%;
  margin-bottom: 20px;
}
#sub_lec_3 .buttons button {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
#sub_lec_3 .buttons .prev {
  left: -16%;
}
#sub_lec_3 .buttons .next {
  right: -16%;
}
/*#sub_lec_4*/
#sub_lec_4 .open,
.close {
  width: max(50%, 250px);
  height: 40px;
  margin: 0 auto;
  font-size: 1.2rem;
  line-height: 1.5;
}
#sub_lec_4 .modal-container {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  display: none;
  opacity: 1;
  transition: all 0.5s;
}
#sub_lec_4 .modal-container.showed {
  display: flex;
  opacity: 1;
}
#sub_lec_4 .modal-container .modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 80%;
  row-gap: 15px;
  padding: 30px;
  border: 1px solid lightgray;
  border-radius: 7px;
  box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*#sub_lec_5*/
#sub_lec_5 {
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
}
#sub_lec_5 .container {
  text-align: center;
  font-size: 1.8rem;
  gap: 2vh 0;
}
#sub_lec_5 .container p {
  margin-top: 10px;
  display: inline-block;
  background-color: var(--yellow);
  padding: 6px 14px;
  color: var(--red);
}
#sub_lec_5 .buttons {
  width: min(90%, 300px);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  margin: 20px 0;
  height: 40px;
}
/* #sub_lec_6 */
#sub_lec_6 > .container.todo {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
}
#sub_lec_6 > .container.todo > form {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  width: 80%;
}
#sub_lec_6 > .container.todo > form > input {
  padding: 10px 5px;
  outline: none;
  font-size: 1rem;
  font-family: "DungGeunMo";
  width: max(80%, 200px);
}
#sub_lec_6 > .container.todo > form > button {
  font-size: 1rem;
  height: 100%;
  width: min(24%, 200px);
}
#sub_lec_6 > .container.todo > ul > li > button,
#sub_lec_6 > .container.todo > ul > li > button:hover {
  width: auto;
  background: transparent;
  border: 0;
}

#sub_lec_6 > .container.todo > ul > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#sub_lec_6 > .container.todo > ul {
  display: block;
  list-style: none;
  margin: 20px 10px;
  width: 80%;
  overflow-y: auto;
  max-height: 30vh;
}
#sub_lec_6 > .container.todo > ul > li {
  border-bottom: 1px dotted lightgray;
  padding-bottom: 7px;
  margin-bottom: 7px;
}
/* #lecture_2 */
#lecture_2 .player {
  width: 90%;
  max-width: 600px;
  position: relative;
  overflow: hidden;
}

#lecture_2 .player:hover .controls {
  transform: translateY(0);
}

#lecture_2 video {
  width: 100%;
}
#lecture_2 .controls {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  /* transform: translateY(100%) translateY(-10px); */
  transition: all 0.3s;
  color: var(--white);
}

#lecture_2 .buttons {
  padding: 5px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#lecture_2 .buttons button {
  background: none;
  outline: none;
  width: 28px;
  height: 28px;
  border: 2px solid var(--white);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
}

#lecture_2 .progress {
  width: 100%;
  height: 10px;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
#lecture_2 .bar {
  height: 10px;
  background-color: var(--yellow);
}

#lecture_2 input[type="range"] {
  width: 100px;
  height: 10px;
  background-color: var(--yellow);
  cursor: pointer;
  -webkit-appearance: none;
}

#lecture_2 input[type="range"]:focus {
  outline: none;
}

#lecture_2 input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: var(--white);
}

#lecture_2 .time {
  display: flex;
  column-gap: 3px;
  font-size: 68%;
}

#lecture_2 .menu {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

#lecture_2 .menu span {
  font-size: 68%;
  cursor: pointer;
}
/* #lecture_3*/
#lecture_3 .sub-lecture > .sub.sub2:first-child > .container {
  display: flex;
  flex-direction: column;
  filter: drop-shadow(10px 20px 20px hsl(0deg 0% 0% / 0.1));
}
#lecture_3 .sub-lecture > .sub.sub2:first-child > .container > .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  height: 50px;
  background-color: var(--black);
}

#lecture_3 .sub-lecture > .sub.sub2:first-child > .container > .menu > .item {
  display: flex;
  align-items: center;
  color: var(--white);
  column-gap: 10px;
}

#lecture_3 .sub-lecture > .sub.sub2:first-child > .container > input {
  width: 50px;
  height: 30px;
  padding: 0;
  text-align: center;
}

#lecture_3 .sub-lecture > .sub.sub2:first-child > .container > button {
  width: auto;
  height: 35px;
  padding: 0 15px;
  background-color: var(--blue);
  border: 0;
  border-radius: 5px;
  color: var(--white);
  cursor: pointer;
}

#lecture_3 .sub-lecture > .sub.sub2:first-child > .container > canvas {
  background-color: white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

#lecture_3 .sub-lecture > .sub.sub2:last-child > .inner {
  width: 100%;
  margin: 0 1vw;
}

#lecture_3 .sub-lecture > .sub.sub2:last-child > .inner > h1 {
  text-align: center;
  margin-bottom: 20px;
}

#lecture_3 .sub-lecture > .sub.sub2:last-child > .inner > .item {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

#lecture_3 .sub-lecture > .sub.sub2:last-child > .inner > input {
  width: 100%;
  margin: 0;
  padding: 10px;
}

#lecture_3 .sub-lecture > .sub.sub2:last-child > .inner > .text {
  display: none;
}
/* #lecture_4*/
#lecture_4 > .sub-lecture {
  height: 720px;
}
#lecture_4 .container {
  padding-top: 30px;
  width: 60%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  font-size: 1.5rem;
}

#lecture_4 .container button {
  width: 100%;
  background-color: var(--blue);
  color: var(--white);
  border: 0;
  padding: 10px;
  border-radius: 5px;
  font-family: "LeeSeoyun", sans-serif;
  font-size: 1.5rem;
}

#lecture_4 .container ul {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 100%;
}

#lecture_4 .container ul > li > label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  row-gap: 10px;
  background-color: var(--white);
  width: 100%;
  padding: 10px 0;
  border-radius: 15px;
}

#lecture_4 .sort-buttons {
  display: flex;
  width: 100%;
}
#lecture_4 .descending {
  margin-left: 10px;
}
#lecture_4 .container .name {
  font-size: 160%;
}

#lecture_4 .container .price {
  font-size: 85%;
  color: var(--red);
}
#lecture_4 .container select {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  background-color: var(--white);
  font-family: "LeeSeoyun", sans-serif;
  font-size: 1.5rem;
}

#lecture_4 .container .total {
  font-weight: bold;
  font-size: 160%;
}

#lecture_4 .container .total-price {
  color: var(--blue);
}

#lecture_4 .container input[type="checkbox"] {
  width: 15px;
  height: 15px;
}
/* #lecture_5*/
#lecture_5 > .sub-lecture {
  width: min(86%, 1600px);
  height: 80vh;
  flex: 0.9;
  font-family: "LeeSeoyun", sans-serif;
  background-color: var(--navy);
  padding: 2vh 0;
}
#lecture_5 > .sub-lecture > .container {
  align-items: center;
  height: 100%;
}
#lecture_5 > .sub-lecture > .container > form {
  display: flex;
  column-gap: 10px;
  height: 50px;
  width: 90%;
  justify-content: center;
}
#lecture_5 > .sub-lecture > .container > form > input {
  padding-left: 5px;
  font-family: "LeeSeoyun", sans-serif;
  font-size: 1.3rem;
  width: min(60%, 640px);
}
#lecture_5 > .sub-lecture > .container > form > button {
  width: min(50%, 180px);
}
#lecture_5 > .sub-lecture > .container > .blocks {
  flex: 1;
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
  width: 95%;
}
#lecture_5 > .sub-lecture > .container > .blocks > .block {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  background-color: var(--white);
  padding: 2rem;
  border-radius: 4px;
  /* box-shadow: 10px 20px 20px 0 rgba(0, 0, 0, 0.1); */
}
#lecture_5 > .sub-lecture > .container > .blocks .memo {
  flex: 1;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

#lecture_5 > .sub-lecture > .container > .blocks .item {
  background-color: white;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 1px 0px 3px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  font-size: 85%;
}

#lecture_5 > .sub-lecture > .container > .blocks .item:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

#lecture_5 > .sub-lecture > .container > .blocks .block button {
  border-radius: 4px;
  width: 100%;
}

#lecture_5 > .sub-lecture > .container > .blocks .dragover {
  background-color: var(--grey);
}
#lecture_5 > .sub-lecture > .container > p {
  color: #fff;
  margin-top: 10px;
}

/* #lecture_6*/
#weather {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#weather > .container {
  width: 300px;
  height: 300px;
  color: white;
  background-color: var(--blue);
  border-radius: 8px;
  filter: drop-shadow(8px 12px 12px hsl(0deg 0% 0% / 0.5));
  margin: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
}

#weather > .container > .current-weather {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
}

#weather > .container > .current-weather .temp {
  font-weight: bold;
  font-size: 300%;
}

#weather > .container > .current-weather .info {
  display: flex;
  column-gap: 10px;
}

#weather > .container > .current-weather img {
  margin: 0;
  padding: 0;
  background-color: var(--black);
  border-radius: 100%;
}

#weather > .noti {
  display: none;
  margin-bottom: 20px;
  color: var(--red);
  font-weight: bold;
  font-size: 120%;
  text-align: center;
  line-height: 160%;
}
/* #lecture_7*/

/*미디어 쿼리*/
@media screen and (max-width: 60rem) {
  .container .list-box > ul {
    margin: 0;
    overflow-x: scroll;
    scrollbar-width: none;
  }
  .lecture-area > .lecture {
    flex-direction: column;
    position: relative;
    left: 0;
  }
  .lecture-area > .lecture ul {
    flex-direction: row;
    height: auto;
    width: 100%;
    overflow-x: scroll;
    scrollbar-width: none;
    width: min(1200px, 100%);
  }
  .lecture-area > .lecture .subList {
    padding: 0 4vw;
    display: flex;
    align-items: center;
    height: 4vh;
    min-width: 20vw;
  }
  #lecture_5 > .sub-lecture > .container > .blocks {
    display: flex;
    flex-direction: column;
    width: 85%;
  }

  #lecture_5 > .sub-lecture > .container > .blocks > .block + .block {
    margin-top: 3vh;
  }
  #sub_lec_6 > form {
    width: auto;
  }
  #sub_lec_6 > form > input {
    min-width: 60%;
  }
  #sub_lec_6 > form > button {
    min-width: 25%;
  }
}

@media screen and (max-width: 30rem) {
  #sub_lec_2 {
    margin: 0 4vw;
    width: 100%;
  }
  #sub_lec_2 .timer {
    font-size: 2.2rem;
  }
  #sub_lec_2 h1,
  #sub_lec_2 .Time {
    font-size: 1.925rem;
    text-align: center;
  }
  #sub_lec_3 .buttons button {
    width: 40px;
    height: 40px;
    font-size: 1.2rem;
  }
  #sub_lec_3 .buttons .prev {
    left: -8%;
  }
  #sub_lec_3 .buttons .next {
    right: -8%;
  }
}
